.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
.terraform*
LoadCsvToBigQuery/LoadCSVToBigQuery.zip
LoadCsvToBigQuery/bin/Debug*
LoadCsvToBigQuery/bin/Release*
LoadCsvToBigQuery/obj*
CreateCsvSplitFiles/CreateCsvSplitFiles.zip
CreateCsvSplitFiles/bin/Debug*
CreateCsvSplitFiles/bin/Release*
CreateCsvSplitFiles/obj*
*.sln
